<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>
<!-- Modal -->
<!-- <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
	<div class="modal-dialog" th:object="${vmServer}">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
				<br />
				<i class="icon-credit-card icon-7x"></i>
				<h4 id="myModalLabel" class="semi-bold" th:text="*{name}">name</h4>
				<p class="no-margin" th:text="*{image.id}">Description </p>
				<br />
			</div>
				<form action="" method="post" accept-charset="utf-8">
				<div class="modal-body">
					<div class="row form-row">
						<div class="col-md-4">
							<label class="form-label bold">Name</label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" value="server name" th:value="*{name}"/>
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-4">
							<label class="form-label bold">Image</label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" value="Image" th:value="*{image.id}"/>
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-4">
							<label class="form-label bold">Flavor</label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" value="flavor" th:value="*{flavor.id}"/>
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-4">
							<label class="form-label bold">Status</label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" value="status" th:value="*{status}"/>
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-4">
							<label class="form-label bold">Time created</label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" value="time created" th:value="*{created}"/>
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-4">
							<label class="form-label bold">Time updated</label>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" value="time updated" th:value="*{updated}"/>
						</div>
					</div>
					<div class="row form-row">
						<div class="col-md-4">
							<label class="form-label bold">Addresses</label>
						</div>
						<div class="col-md-8" th:each="novaAddr : *{addresses}">
							<input type="text" class="form-control" value="time launched" th:value="${novaAddr.addresses}"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="modalFormCancel btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i>&nbsp;&nbsp;Close</button>
					<button type="submit" class="modalFormSubmit btn btn-primary reload"><i class="fa fa-cogs"></i>&nbsp;&nbsp;Update</button>
				</div>
				</form>
</div>
		<!-- /.modal-content -->
		<script src="../../../resources/assets/js/list_env.js" type="text/javascript" charset="utf-8" th:src="@{/resources/assets/js/list_env.js}"></script>
</div> 
	<!-- /.modal-dialog -->
<!-- </div> -->
<!-- /.modal -->
</body>
</html>